.header-forgot-password-form {
    width: 400px;
    margin: 0 auto; /* Căn giữa theo chiều ngang */
    padding: 20px;
    padding-bottom: 40px;
    margin-top: 40px;
    margin-bottom: 60px;
    border: 9px solid #8080;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.body-forgot-password-form {
    padding: 10px 0; /* Add space between form elements */
    display: flex; /* Sử dụng flexbox */
    justify-content: center; /* Căn giữa phần tử con theo chiều ngang */
    flex-direction: column; /* Xếp phần tử con theo chiều dọc */
}

.header-forgot-password-form .header-username,
.header-forgot-password-form .header-password,
.header-forgot-password-form .header-password-again {
    margin-bottom: 15px; /* Add some space between each input group */
}

.header-forgot-password-form label {
    display: block;
    font-weight: bold;
}

.header-forgot-password-form input[type="text"],
.header-forgot-password-form input[type="password"] {
    width: calc(100% - 10px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
}

.header-btn-submit {
    display: flex;
    justify-content: center; /* Căn giữa theo chiều ngang */
    align-items: center; /* Căn giữa theo chiều dọc */
}

.btnSubmit {
    width: 300px;
    background-color: #808080;
    color: #fff;
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: 700;
}


    /* CSS hover */
    .btnSubmit:hover {
        background-color: yellow; /* Màu nền khi hover */
        color: black;
        
    }
