.container .container-inputsp {
    width: 100%;
}

    .container .container-inputsp span {
        width: 195px;
        /*background-color: red;*/
        display: block;
        font-size: 20px;
        line-height: 1.9;
        margin: 5px 0;
    }

.container .container-inputsp input{
    width: 300px;
    height:30px;

}
    