.post-container {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.content-link {
    text-decoration: none;
    color: inherit;
}

.view-content {
    display: flex;
    padding: 15px;
}

.img {
    flex: 0 0 150px;
    margin-right: 15px;
}

.post-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.content {
    flex: 1;
}
.h2content {
    text-align:center;
    margin: 20px;
    color:burlywood;

}
.post-title {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    margin-bottom: 10px;
}

.content-details {
    display: flex;
    flex-direction: column;
    gap: 5px; /* Khoảng cách giữa các mục */
}

    .content-details p,
    .content-details div {
        margin: 0;
        font-size: 14px;
        color: #555;
        font-weight: bold; /* Làm chữ đậm */
        color: #000; /* Màu chữ */
    }

.dientich, .sophong, .gia, .gio, .diachi {
    flex: 1;
    font-weight: bold;
    color: #e74c3c;
}


.button-delete-post {
    display: block;
    margin: 15px;
    padding: 10px 20px;
    background-color: #e74c3c;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

    .button-delete-post:hover {
        background-color: #c0392b;
    }
